In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from report_data import ReportData

In [3]:
report = ReportData(sub_dir="example", file_name="transactions.xlsx")

INFO: supported currencies are: {'CAD', 'CZK', 'NZD', 'USD', 'INR', 'PHP', 'DKK', 'BGN', 'TRY', 'JPY', 'MYR', 'CHF', 'NOK', 'AUD', 'ZAR', 'IDR', 'SGD', 'MXN', 'HKD', 'RON', 'CNY', 'KRW', 'BRL', 'GBP', 'THB', 'HUF', 'SEK', 'PLN'}

In [4]:
# analzye data for report year 2022 and use "daily" reference exchange rates
# the other alternative is "monthly_avg", i.e. per-month average rates (both EZB)
dfs = report.consolidate_report(2022, "daily")
# to create excel report: report.create_excel_report(2022, "daily", "report_2022.xlsx")

In [5]:
dfs[0] # shares

,Symbol,Quantity,Buy Date,Sell Date,Buy Price,Sell Price,Buy Price [EUR],Sell Price [EUR],Total Gain [EUR]
0,NVDA,2,2019-02-28,2022-09-05,114.00 USD,156.00 USD,99.86,157.26,114.80
1,NVDA,20,2020-02-28,2022-09-05,178.00 USD,156.00 USD,162.16,157.26,-97.98
2,NVDA,10,2021-09-21,2022-09-22,132.00 USD,166.00 USD,112.46,167.95,554.93
3,NVDA,1,2022-09-21,2022-09-22,160.00 USD,166.00 USD,161.52,167.95,6.43
4,NVDA,19,2022-09-21,2022-09-23,160.00 USD,171.50 USD,161.52,175.83,271.83
5,APPL,3,2019-10-11,2022-11-02,139.00 USD,110.00 USD,125.87,111.02,-44.55
6,APPL,2,2019-10-11,2022-11-03,139.00 USD,120.00 USD,125.87,123.04,-5.67
7,GOOG,5,2022-10-11,2022-11-03,89.00 USD,70.00 USD,91.54,71.77,-98.81
8,GOOG,5,2022-10-11,2022-11-14,89.00 USD,100.00 USD,91.54,96.91,26.87
9,Total,,,,,,,,727.85

In [6]:
dfs[1] # forex

,Symbol,Quantity,Buy Date,Sell Date,Buy Price [EUR],Sell Price [EUR],Total Gain [EUR]
0,USD,85,2022-04-01,2022-10-12,0.9,1.03,10.67
1,USD,85,2022-07-01,2022-10-12,0.96,1.03,6.04
2,USD,3431.97,2022-09-05,2022-10-12,1.01,1.03,76.28
3,USD,1825.99,2022-09-22,2022-10-12,1.01,1.03,33.88
4,USD,3088.48,2022-09-23,2022-10-12,1.03,1.03,15.66
5,USD,170.0,2022-09-23,2022-12-01,1.03,0.96,-11.67
6,USD,329.99,2022-11-02,2022-12-01,1.01,0.96,-17.40
7,USD,349.99,2022-11-03,2022-12-01,1.03,0.96,-24.06
8,USD,239.99,2022-11-03,2022-12-01,1.03,0.96,-16.50
9,USD,499.99,2022-11-14,2022-12-01,0.97,0.96,-6.26
10,Total,,,,,,66.64

In [7]:
dfs[2] # dividends

  Symbol           Comment        Date      Amount  Amount [EUR]
0   NVDA  Dividend Payment  2022-04-01  100.00 USD         90.48
1   APPL  Dividend Payment  2022-07-01  100.00 USD         95.92
2  Total                                                  186.40

In [8]:
dfs[3] # fees

  Symbol                 Comment        Date     Amount  Amount [EUR]
0    USD  Fees on Sale of Shares  2022-09-05   0.03 USD          0.03
1    USD  Fees on Sale of Shares  2022-09-22   0.01 USD          0.01
2    USD  Fees on Sale of Shares  2022-09-23   0.02 USD          0.02
3    USD    Fee on Wire Transfer  2022-10-12  15.00 USD         15.45
4    USD  Fees on Sale of Shares  2022-11-02   0.01 USD          0.01
5    USD  Fees on Sale of Shares  2022-11-03   0.01 USD          0.01
6    USD  Fees on Sale of Shares  2022-11-03   0.01 USD          0.01
7    USD  Fees on Sale of Shares  2022-11-14   0.01 USD          0.01
8    USD    Fee on Wire Transfer  2022-12-01  15.00 USD         14.35
9  Total                                                        29.90

In [9]:
dfs[4] # withheld taxes

  Symbol                    Comment        Date     Amount  Amount [EUR]
0   NVDA  Withheld Tax on Dividends  2022-04-01  15.00 USD         13.57
1   APPL  Withheld Tax on Dividends  2022-07-01  15.00 USD         14.39
2  Total                                                           27.96